{% extends 'adminpanel/adminbaser.html' %}

{% load static %}

{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="col-12">
        <div class="bg-light rounded h-100 p-4">
            <h4 class="mb-4"> Sales Report </h4>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr>
                            
                            <th  scope="col">Item</th>
                            <th  scope="col">User</th>
                            <th scope="col">Date</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in ordered_products %}
                        <tr>
                            <th scope="row">{{item.product.product_name}}</th>
                            <th scope="row">{{item.user.full_name}}</th>
                            <td>{{item.created_at}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.product_price}}</td>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}