{% extends 'base.html' %}

{% load static %}

{% block content %}

<!--== Page Title Area Start ==-->
<div id="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="page-title-content">
                    <h1>Member Area</h1>
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="login-register.html" class="active">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Page Title Area End ==-->

<!--== Page Content Wrapper Start ==-->
<div id="page-content-wrapper" class="p-9">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 m-auto">
                <!-- Login & Register Content Start -->
                <div class="login-register-wrapper">
                    <!-- Login & Register tab Menu -->
                    <nav class="nav login-reg-tab-menu">
                        <a class="active" id="login-tab" data-toggle="tab" href="#login">Login With OTP</a>
                    </nav>
                    <!-- Login & Register tab Menu -->

                    <div class="tab-content" id="login-reg-tabcontent">
                        <div class="tab-pane fade show active" id="login" role="tabpanel">
                            <div class="login-reg-form-wrap">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="single-input-item">
                                        <label> Enter your registered Phone Number:</label>
                                        <input type="text" name="phone_number" placeholder="Enter your Phone Number" required/>
                                    </div>
                                    <div class="single-input-item">
                                        <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                                            <a href="{% url 'register' %}" class="forget-pwd">New User? Register here...</a>
                                        </div>
                                    </div>
                                    <div class="single-input-item">
                                        <input class="btn-login" type="submit" value="Send OTP">
                                        <!-- <button class="btn-login" type="submit">Login</button> -->
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                        
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Login & Register Content End -->
            </div>
        </div>
    </div>
</div>
<!--== Page Content Wrapper End ==-->







{% endblock %}