{% extends 'base.html' %}

{% load product_tags %}

{% load static %}

{% block content %}



<div id="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="page-title-content">
                    <h1>Shop</h1>
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="index.html" class="active">Shop</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Page Title Area End ==-->

{% if products %}
<!--== Page Content Wrapper Start ==-->
<div id="page-content-wrapper" class="p-9">
    <div class="container">
        <div class="row">
          

            <!-- Shop Page Content Start -->
            <div class="col-lg-12">
                <div class="shop-page-content-wrap">
                    

                    <div class="shop-page-products-wrap">
                        <div class="products-wrapper">
                            <div class="row" id="filteredProducts">
                                {% for item in products %}
                                <div class="col-lg-3 col-sm-6">
                                    
                                    <!-- Single Product Item -->
                                    <div class="single-product-item text-center">
                                        
                                        <figure class="product-thumb">
                                            <a href="{{item.get_url}}"><img src="{{item.images.url}}"
                                                                               alt="Products" class="img-fluid"></a>
                                        </figure>
                             
                                        <div class="product-details">
                                            <h2><a href="{{item.get_url}}">{{item.product_name}}</a></h2>
                                            <div class="rating">
                                                <span>
                                                    <i class="fa fa-star{% if item.averageReview < 0.5 %}-o{% elif item.averageReview >= 0.5 and item.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                                                    <i class="fa fa-star{% if item.averageReview < 1.5 %}-o{% elif item.averageReview >= 1.5 and item.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                                                    <i class="fa fa-star{% if item.averageReview < 2.5 %}-o{% elif item.averageReview >= 2.5 and item.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                                                    <i class="fa fa-star{% if item.averageReview < 3.5 %}-o{% elif item.averageReview >= 3.5 and item.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                                                    <i class="fa fa-star{% if item.averageReview < 4.5 %}-o{% elif item.averageReview >= 4.5 and item.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                            {% if item.discount > 0 %}
                                            <span class="price">₹{% call_sellerprice item.price item.discount %} &nbsp; <del>₹{{item.price}}</del></span> 
                                            {% else %}
                                            <span class="price">₹{{item.price}}</span> 
                                            {% endif %}

                                            {% if item.stock > 0 %}
                                            <a href="{% url 'add_cart' item.id%}" class="btn btn-add-to-cart">+ Add to Cart</a>
                                            {% else %}
                                            <a style="pointer-events: none;" href="{% url 'add_cart' item.id%}" class="btn btn-add-to-cart">Out of Stock</a>
                                            {% endif %}
                                        </div>

                                        <div class="product-meta">
                                            

                                            <button class="wishlisttt" value="{{item.id}}" data-toggle="tooltip" data-placement="left" title="Add to Wishlist">
                                            <i class="fa fa-heart-o"></i>
                                            </button>
                                            
                                        </div>
                                        {% if item.discount > 0 %}
                                        <span class="product-bedge sale" style="transform: rotate(0deg);margin-left: -10px;margin-top: -20px;    padding: 5px 15px;">{{item.discount}} %  OFF</span>
                                        {% endif %}
                                        
                                    </div>
                                    <!-- Single Product Item -->
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% if products.has_other_pages %}
                    <div class="products-settings-option d-block d-md-flex">
                        <nav class="page-pagination">
                            <ul class="pagination">

                                {% if products.has_previous %}
                                <li><a  href="?page={{products.previous_page_number}}" aria-label="Previous">&laquo;</a></li>
                                {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous">&laquo;</a></li>
                                {% endif %}

                                {% for i in products.paginator.page_range %}
                                {% if products.number == i %}
                                    <li><a class="current"class="page-link" href="#">{{i}}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                {% endif %}
                                {% endfor %}



                                {% if products.has_next %}
                                    <li><a href="?page={{products.next_page_number}}" aria-label="Next">&raquo;</a></li>
                                {% else %}
                                    <li class="page-item disabled"><a  class="page-link" href="#" aria-label="Next">&raquo;</a></li>
                                {% endif %}
                                
                                
                            </ul>
                        </nav>

                    
                    </div>
                    {% endif %}


                </div>
            </div>
            <!-- Shop Page Content End -->
        </div>
    </div>
</div>
<!--== Page Content Wrapper End ==-->
{% else %}

<div id="page-content-wrapper" class="p-9">
    <div class="container">
        <div class="row">        

            <!-- Shop Page Content Start -->
            <div class="col-lg-12">
                <div class="shop-page-content-wrap">                  

                    <div class="shop-page-products-wrap">
                        <div class="products-wrapper">
                            <h1>Sorry to say No Products, We will add soon</h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    


{% endif %}





<!-- Scroll to Top Start -->
<a href="#" class="scrolltotop"><i class="fa fa-angle-up"></i></a>
<!-- Scroll to Top End -->




<script>  

    [...document.getElementsByClassName('wishlisttt')].forEach(function (e){
        e.addEventListener('click', function(){
            id = Number(this.getAttribute('value'))
            
            
            console.log(id)
            $.ajax({
                
                url:'/cart/add_remove_wishlistItem',
                method:'GET',
                dataType: 'json',
                data: {
                    id:id
                },
                success:(response) => {
                    if (response.flag == 1){
                        swal("Removed from wishlist!", "", "error");
                    }
                    else if(response.flag == 2){
                        swal("Added to wishlist!", "", "success");
                    }
                }
            })
        })
    })
</script>



{% endblock %}